body {
    background-image: url('../img/img06.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    padding-bottom: 0;
}

section {
    margin-left: 15px;
}

.card {
    background-color: rgb(100, 100, 100, 0.5);
}
/* style modal */
.tela-modal{
    width: 200px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    margin-top: 500px;
}
.modal-content{
    width: 1060px;
}
.modal-title{
    font-size: 55px;
    font-weight: bold;
    margin:auto;
}
.btn-modal{
    width: 150px;
    font-size: 20px;
    margin-right: 225px;
}
